.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(135, 121, 106);
}

.content {
  width: 80%;
  margin: 30px auto 30px;
}

.content .main-content {
  height: 300px;
}

.content .main-content .article {
  width: 95%;
  height: 270px;
  margin: 100px auto;
  border-radius: 5px;
  background: black;
  position: relative;
}

.content .main-content h1 {
  color: rgb(135, 121, 106);
  font-family: "Gloria Hallelujah", sans-serif;
  text-transform: uppercase;
}

.content .main-content .article p {
  margin: 20px auto;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.content .main-content .article .btn .read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.content .main-content .article .article-preview {
  padding: 10px;
  width: 60%;
  float: right;
}

.content .main-content .article .article-image {
  width: 40%;
  height: 100%;
  float: left;
}

.content .main-content .recent-article-title {
  margin: 20px;
}

.btn {
  padding: .5rem 1.5rem;
  background: rgb(135, 121, 106);
  color: white;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.btn:hover {
  color: white !important;
  background: rgb(135, 121, 106, 0.8);
}